<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>XX系统 - 房屋信息详情查看</title>
	<link rel="stylesheet" href="../../../css/main.css">
	<link rel="stylesheet" href="../../../lib/font-awesome/css/font-awesome.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/detail.js"></script>
</head>
<body>
<div class="box">
	<h3>房屋信息详情</h3>
	<form action="#" method="post">
		<table class="form-table">
			<tr>
				<td class="label">地区</td>
				<td class="detail" id="area">
					经开区
				</td>
			</tr>
			<tr>
				<td class="label">小区</td>
				<td colspan="3" class="detail" id="community">
					美景鸿城
				</td>
			</tr>
			<tr>
				<td class="label">单元号</td>
				<td colspan="3" class="detail" id="unitNum">
					二单元
				</td>
			</tr>
			<tr>
				<td class="label">楼层</td>
				<td colspan="3" class="detail" id="floor">
					10
				</td>
			</tr>
			<tr>
				<td class="label">房间号</td>
				<td colspan="3" class="detail" id="roomNum">
					1002
				</td>
			</tr>
			<tr>
				<td class="label">面积(平米)</td>
				<td colspan="3" class="detail" id="space">
					120
				</td>
			</tr>
			<tr>
				<td class="label">朝向</td>
				<td colspan="3" class="detail" id="direction">
					南北通透
				</td>
			</tr>
			<tr>
				<td class="label">装修</td>
				<td colspan="3" class="detail" id="fitment">
					精装修
				</td>
			</tr>
			<tr>
				<td class="label">是否双气</td>
				<td colspan="3" class="detail" id="isDoubleAir">
					是
				</td>
			</tr>
			<tr>
				<td class="label">限住人数</td>
				<td colspan="3" class="detail" id="limit">
					3
				</td>
			</tr>
			<tr>
				<td class="label">配套设施</td>
				<td colspan="3" class="detail" id="facility">
					有家具，有家电，包括洗衣机、冰箱、微波炉
				</td>
			</tr>
			<tr>
				<td class="label">出租价格(元/月)</td>
				<td colspan="3" class="detail" id="price">
					2000
				</td>
			</tr>
			<tr>
				<td class="label">出租状态</td>
				<td colspan="3" class="detail" id="status">
					未出租
				</td>
			</tr>
			<tr>
				<td class="label">房屋图片</td>
				<td colspan="3" class="detail" id="image">
					<img src="../../../image/image.png" width="300px" height="200px">
				</td>
			</tr>
			<tr>
				<td class="label">完整地址信息</td>
				<td colspan="3" class="detail" id="address">
					郑州市经济开发区xxx路xx号xx小区xx号楼xx单元xx层xx室
				</td>
			</tr>
			<tr>
				<td class="label">备注说明</td>
				<td colspan="3" class="detail" id="remark">
					备注说明
				</td>
			</tr>
			<tr>
				<td class="label">添加时间</td>
				<td colspan="3" class="detail" id="createTime">
					2018-04-16 12:20:00
				</td>
			</tr>
			<tr>
				<td class="label">更新时间</td>
				<td colspan="3" class="detail" id="lastModifiedTime">
					2018-04-18 12:20:00
				</td>
			</tr>

		</table>
		<div class="buttons">
			<a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
		</div>
	</form>
</div>
</body>
</html>