<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>XX系统 - 合同信息详情查看</title>
	<link rel="stylesheet" href="../../../css/main.css">
	<link rel="stylesheet" href="../../../lib/font-awesome/css/font-awesome.css">
	<script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/detailLease.js"></script>
</head>
<body>
<div class="box">
	<h3>合同信息详情</h3>
	<form action="#" method="post">
		<table class="form-table">
			<tr>
				<td class="label">租户信息</td>
				<td class="detail" id="renterId">
					经开区
				</td>
			</tr>
			<tr>
				<td class="label">房子信息</td>
				<td colspan="3" class="detail" id="houseId">
					美景鸿城
				</td>
			</tr>
			<tr>
				<td class="label">房租</td>
				<td colspan="3" class="detail" id="rental">
					二单元
				</td>
			</tr>
			<tr>
				<td class="label">租房时长</td>
				<td colspan="3" class="detail" id="leaseTerm">
					10
				</td>
			</tr>
			<tr>
				<td class="label">合同时长</td>
				<td colspan="3" class="detail" id="contractTerm">
					1002
				</td>
			</tr>
			<tr>
				<td class="label">添加时间</td>
				<td colspan="3" class="detail" id="createTime">
					120
				</td>
			</tr>
			<tr>
				<td class="label">最好修改时间</td>
				<td colspan="3" class="detail" id="lastModifiedTime">
					南北通透
				</td>
			</tr>

		</table>
		<div class="buttons">
			<a class="btn btn-default" href="javascript:history.go(-1)">返回</a>
		</div>
	</form>
</div>
</body>
</html>